Package: com.superp0s.ibfix
Name: ibfix
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An attempt to fix a problem with IconBundles on iPad w/ retina
Maintainer: Tyler Crawford
Author: Tyler Crawford
Section: Tweaks
