Package: com.superp0s.ibfix
Name: IBFix
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An attempt to fix IconBundles on iPad with retina.
Maintainer: superp0s
Author: superp0s
Section: Tweaks
Version: 0.0.1-3
Installed-Size: 72
