Package: com.superp0s.ibfix
Name: IconBundles Fix
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An attempt to fix a problem with IconBundles on iPad w/ retina.
Maintainer: tcrawford
Author: tcrawford
Section: Tweaks
Version: 0.0.1-7
Installed-Size: 72
