@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-Regular.ttf');
}

body {
    font-family: 'Quicksand', system-ui;
    margin: 0;
}

.container {
    text-align: center;
}

.box {
    display: inline-block;
}
