Package: com.superp0s.firsttweak
Name: firsttweak
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: This is just a test tweak for learning purposes.
Maintainer: tcrawford
Author: tcrawford
Section: Tweaks
Version: 0.0.1-5
Installed-Size: 72
