Package: com.tcrawford.devrepos
Name: Repository List
Version: 1.1.3
Architecture: iphoneos-arm
Description: Adds essential repositories so they don’t need to be added manually. Private use only.
Maintainer: tcrawford
Author: tcrawford
Section: Utilities
