Package: com.tcrawford.ls-basic-clock
Name: LS Basic Clock
Version: 1.0.2
Depends: com.groovycarrot.groovylock
Architecture: iphoneos-arm
Description: Adds a simple clock with the option for a background color. Clock color, background color, 12 or 24 hour clock, the ability to show background or not, and the position from the top of the screen, are all added options.
Maintainer: tcrawford <dev.tcrawford@gmail.com>
Author: tcrawford <dev.tcrawford@gmail.com>
Section: Themes (Lockscreen)
