Package: com.tcrawford.ls-basic-clock
Name: LS Basic Clock
Version: 1.2.3
Depends: com.tcrawford.elemental-ls
Architecture: iphoneos-arm
Description: Installs Elemental LS. It is simply LS Basic Clock renamed/rebranded. Remove this upon update.
Maintainer: tcrawford <dev.tcrawford@gmail.com>
Author: tcrawford <dev.tcrawford@gmail.com>
Section: Themes (Lockscreen)
