@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-Regular.ttf');
}

html {
    position: fixed;
}

body {
    position: inherit;
    left: 50%;
    right: 50%;
    font-family: 'Quicksand';
    margin-top: 8%;
    margin-left: -32px; /* Half of the height */
    transform: translate(-50%, -50%);
}

#box {
    height: 64px;
    width: 140px;
}

#clock {
    text-align: center;
    padding: 10%;
    font-size: 30px;
    letter-spacing: 2px;
}
