@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-Regular.ttf');
}

html {
    position: relative;
}

body {
    position: inherit;
    text-align: center;
    font-family: 'Quicksand';
}

#box {
    position: relative;
    margin-top: 14%;
    margin-left: 36%;
    margin-right: 36%;
    font-size: 10px;
}

#clock {
    text-align: center;
    padding: 12%;
    font-size: 30px;
    letter-spacing: 2px;
}
