@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-Regular.ttf');
}

html {
    position: relative;
}

body {
    position: inherit;
    text-align: center;
    font-family: 'Quicksand';
/*    color: #202020;*/
}


#box {
    position: relative;
    margin-top: 14%;
    margin-left: 43%;
    margin-right: 43%;
    font-size: 10px;
/*    background-color: rgba(240, 240, 240, 0.5);*/
}

#clock {
    text-align: center;
    padding: 12%;
    font-size: 30px;
    letter-spacing: 2px;
}