Package: com.jamsoftonline.provenance
Name: Provenance
Version: 1.2.1-1
Architecture: iphoneos-arm
Description: Provenance is a mobile emulator maintained and authored by James Addyman. It is being packaged by myself to test and allow others to download if they feel so desired. I am not responsible for any damage this may do, nor any bugs it may have. This is a first time test build and packaging of this so be warned.
Maintainer: James Addyman
Author: James Addyman
Section: Games
