Package: com.tcrawford.ls-elemental
Name: Elemental LS
Version: 1.1.0
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Previously, LS Basic Clock, this very customizable clock will fit the wants and needs of anyone who desires simplicity.
Maintainer: tcrawford <dev.tcrawford@gmail.com>
Author: tcrawford <dev.tcrawford@gmail.com>
Section: Themes (Lockscreen)
