Package: com.superp0s.infiniboot6
Name: InfiniBoot6
Depends: com.zaxdo.animate8
Version: 1.0
Architecture: iphoneos-arm
Description: InfiniBoot for iPhone 6 is a beautiful boot logo that mesmerizes you as you boot your phone up making the long wait time seem as though it went by in just seconds.
Maintainer: superp0s
Author: superp0s
Section: Addons (BootLogo)
