Package: com.superp0s.infiniboot5
Name: InfiniBoot5
Depends: com.zaxdo.animate8
Version: 1.0
Architecture: iphoneos-arm
Description: InfiniBoot5 for iPhone 5/5s/5c is a beautiful boot logo that mesmerizes you as you boot your phone up making the long wait time seem as though it went by in just seconds.
Maintainer: superp0s
Author: superp0s
Section: Addons (BootLogo)
