body {
    background: #EFEFF4;
}
p {
    font-size: 80%;

    max-width: 250px;
    margin: auto;

    word-wrap: break-word;
}
.screenshots {
    display: none;
}
.fullchangelog {
    display: none;
}
.latest-version {
    vertical-align: right;
}
.remove {
    margin-top: -7px;
    margin-right: -10px;
    margin-left: -10px;

    border-radius: 0 !important;
}
.remove-space {
    margin-top: -14px;
    margin-right: -10px;
    margin-left: -10px;

    border-radius: 0 !important;
}
.remove-big {
    margin-bottom: -32px;
}
.center {
    margin-right: auto;
    margin-left: auto;
}
.card {
    max-width: 340px;

    background: #FFFFFF;
}
.card-header, .card-block {
    border-radius: 30px;
}
.rotate {
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.turn {
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.rotate.down, .turn.left {
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.subshots {
    text-align: center;
}
.subshots:nth-child(1) {
    margin-bottom: 10px;
}
